<div class="error" *ngIf="fetchError | async"> {{fetchError | async}}</div>
<mat-progress-spinner *ngIf="fetchLoading | async else placesArea" mode="indeterminate"></mat-progress-spinner>

<ng-template #placesArea>
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div
                fxFlex.xs="100%"
                fxFlex.sm="50%"
                fxFlex.lt-lg="33%"
                fxFlex="33%"
                *ngFor="let place of places | async"
        >
            <mat-card class="card">
                <div class="img-block">
                    <img mat-card-image class="img" *ngIf="place" [src]="apiUrl + '/uploads/' + place.image" [alt]="place.title">
                </div>
                <mat-card-header>
                    <a [routerLink]="['/information-place/', place._id]">{{ place.title }}</a>
                </mat-card-header>
                <mat-card-content>
                    <div class="review">
                        <p>Rating: </p>
                        <ngb-rating [(rate)]="place.rating">
                            <ng-template let-fill="fill" let-index="index">
                                <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
                            </ng-template>
                        </ngb-rating>
                        <p>{{place.rating}}</p>
                    </div>
                    <div class="review">
                        <mat-icon>photo_camera</mat-icon>
                        <p>{{place.amountPhoto}} photos</p>
                    </div>
                </mat-card-content>
                <mat-card-actions *ngIf="(user | async)?.role === 'admin'">
                    <button mat-raised-button color="warn" (click)="RemovePlace(place._id)">Delete</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</ng-template>