.card
  padding: 10px
  background: #303030

.img-block
  margin-top: 10px
  padding-top: 20px
  border-radius: 10px
  overflow: hidden
  margin-bottom: 15px

.img
  max-width: 100%
  margin: 0 auto
  height: 250px
  object-fit: cover

.review
  display: flex
  align-items: center

.review p
  font-size: 18px
  padding: 0 10px

.star
  font-size: 1.2rem
  color: #b0c4de

.filled
  color: #1e90ff

.bad
  color: #deb0b0

.filled.bad
  color: #ff1e1e