.card
  padding: 10px

.img-block
  margin-top: 10px
  padding-top: 20px
  border-radius: 10px
  overflow: hidden
  margin-bottom: 15px

.img
  max-width: 100%
  margin: 0 auto
  height: 250px
  object-fit: cover